
body {
    /* make background of website transition between black and dark grey */
    background: #181a1b;
    /* make text color of website white */
    color: white; 
}

/* modal card is black background */
.modal-card-body {
    color: black;

}



.title {
    /* white */
    color: #f5f5f5;
}




